#o {
  position: absolute;
  float: right;
  margin-right: -125px;
  cursor: pointer;
  top: 35px;
  font-size: 170%;

}
.menu {
  text-align: left;
  float: left;
  border: none;
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 335px;
}
#btn {
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  color: green;
  background: green;
  border: none;
  color: black;
}
#btn:hover {
  transform: scale(1.1)
}
.c {
  background: green;
  width: 150px;
  border: none;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.c:hover {
  transform: scale(1.1)
}
#fh {
  background: green;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 50px;
  cursor: pointer;
  font-size: 50%;
}
#fh:hover {
  transform: scale(1.1)
}
.all {
  border: none;
  background: green;
  border-radius: 15px;
  width: 100px;
  cursor: pointer;
  font-size: 135%;
}
.all:hover {
  transform: scale(1.1)
}
#btnt {
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  color: green;
  background: green;
  border: none;
  color: black;
}
#btnt:hover {
  transform: scale(1.1)
}